body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f3f4f6;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.google-btn, .login-btn {
  width: 100%;
  max-width: 100%;
  font-size: 1.2rem;
  padding: 12px;
}


.google-btn:hover {
  background-color: #f2f2f2;
}

.google-btn img {
  height: 20px;
}

.divider {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 24px 0;
  color: #888;
  font-size: 14px;
}

.divider hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.input-field {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 16px;
}

.remember-forgot a {
  text-decoration: none;
  color: #3b82f6;
}

.login-btn {
  width: 100%;
  background-color: #3b82f6;
  color: white;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #2563eb;
}

.signup-link {
  font-size: 14px;
}

.signup-link a {
  color: #3b82f6;
  text-decoration: none;
}
